<div class="container">
  <div class="page-header">
    <div class="header-button">
      Main Page
    </div>
    <div class="header-button">
      Student List
    </div>
    <div class="header-button">
      Login Page
    </div>
  </div>

  <div class="page-content">
    <table>
      <thead>  <!-- sekcja nagłówek-->
        <tr>   <!-- wiersz nagłówka-->
          <th> <!-- komórka wiersza nagłówka-->
            Id.
          </th>
          <th> <!-- komórka wiersza nagłówka-->
            Name
          </th>
          <th> <!-- komórka wiersza nagłówka-->
            Surname
          </th>
        </tr>
      </thead>
      <tbody> <!-- sekcja ciało tabeli-->
        <tr>  <!-- wiersz w ciele tabeli-->
          <td> <!-- komórka w kolumnie ID-->
            1
          </td>
          <td> <!-- komórka w kolumnie name -->
            Paweł
          </td>
          <td> <!-- komórka w kolumnie surname -->
            Gaweł
          </td>
        </tr>
        <tr>  <!-- wiersz w ciele tabeli-->
          <td> <!-- komórka w kolumnie ID-->
            2
          </td>
          <td> <!-- komórka w kolumnie name -->
            Marian
          </td>
          <td> <!-- komórka w kolumnie surname -->
            Mariański
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
